// font
// @import url('https://fonts.googleapis.com/css?family=Nunito:400,700');

// color
$bg-blue: #2C5383;
$white-blue: #E9EDF2;
$btn-yellow: #FF8E26;
$btn-red: #FF5126;
$btn-blue: #5FAFC9;
$tw-blue: #00acee;
$gl-red: #DB4437;
$base-grey: rgb(196,196,196,0.5);
$good-color: #D94057;
$dark-grey: #666666;
$stroke-grey: #B1B1B1;
$font-black: #222222;

// font size
$fs-tiny: 12px;
$fs-normal: 16px;
$fs-middle: 20px;
$fs-title: 24px;
$fs-large: 28px;

// shadow
$normal-shadow: 0 5px 7px 0 rgba(0, 0, 0, 0.3);
